<h4>Template for 5-day forecast page:</h4>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{ forecast?.city?.name }}</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let day of forecast?.list">
        Monday, Mar 23: {{ day?.weather[0]?.main }} - Min:
        {{ day?.temp?.min }} - Max: {{ day?.temp?.max }}
        <img
          class="icon"
          src="https://www.angulartraining.com/images/weather/rain.png"
        />
      </li>
    </ul>
  </div>
  <button class="btn btn-success" tabindex="0" id="mainPageBtn" routerLink="">
    &lt; Back to main page
  </button>
</div>
