<div class="container">
  <header>
    <h1>Weather Application</h1>
  </header>
  <router-outlet></router-outlet>
  <footer class="footer">
    <div class="container">
      <div
        class="text-center p-3"
        style="background-color: hsl(216, 25%, 90%);"
      >
        © <span class="text-muted">Thank You for using the weather App.</span
        ><br />
        2023 Copyright:
        <a class="" href="https://mdbootstrap.com/">
          <strong>Miranda</strong></a
        >
      </div>
    </div>
  </footer>
</div>
